.pl-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 8px;
}

.pl-pagination-item,
.pl-pagination-previous,
.pl-pagination-next,
.pl-pagination-ellipsis {
  min-height: 32px;
  min-width: 32px;

  > a:hover {
    text-decoration: none;
  }
}

.pl-pagination-previous,
.pl-pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  i {
    color: $black10;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &:not(.is-disabled):hover {
    background-color: $gray30;
  }

  &.is-disabled {
    cursor: default;
    i {
      color: $gray70;
    }
  }
}

.pl-pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 4px;
}

.pl-pagination-item {
  display: flex;
  align-items: stretch;
  background: $white00;
  border: 1px solid $border;
  border-radius: 4px;
  color: $black10;
  font-size: 14px;
  line-height: 1;

  > a,
  > div,
  > span {
    width: 100%;
    padding-inline: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black10;
  }

  &:hover:not(.is-active) {
    background-color: $gray30;
  }

  &.is-active {
    color: $white00;
    background-color: $black10;
    border-color: $black10;
    cursor: default;

    > a,
    > div,
    > span {
      color: $white00;
    }
  }
}

.pl-pagination-ellipsis {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: $black10;
  font-size: 14px;
}
