$item-size: 44px;
$prev-next-size: 72px;

.pl-pagination {
  display: flex;
  align-items: center;
}

.pl-pagination-item,
.pl-pagination-previous,
.pl-pagination-next {
  @include mq(small) {
    height: 35px;
    width: 35px;
  }

  &:hover,
  a:hover {
    text-decoration: none;

    &.is-disabled {
      cursor: default;
    }
  }
}

.pl-pagination-previous,
.pl-pagination-next {
  background-color: $gray30;
  height: $item-size;
  width: $prev-next-size;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: $black10;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &.is-disabled {
    background-color: transparent;
    i {
      color: $gray70;
    }
  }
}

.pl-pagination-list {
  display: flex;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

.pl-pagination-item {
  font-size: 15px;
  color: $black10;
  font-family: Roboto;
  width: $item-size;
  height: $item-size;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;

  a {
    color: $black10;
  }

  &:hover {
    cursor: pointer;
    background-color: $gray40;
  }

  &.is-active {
    color: $white00;
    background-color: $black20;
    cursor: default;

    a {
      color: $white00;
    }
  }
}

.pl-pagination-ellipsis {
  color: $black10;
  font-size: 12px;
  color: $black10;
  font-family: Robot;
  width: 20px;
  height: 30px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
