$white00: #fff;
$white10: #fafafa;
$black10: #161616;
$black20: #2a2a2a;
$black30: #333;
$gray30: #f8f8f8;
$gray40: #f1f1f1;
$gray50: #e0e0e0;
$gray60: #ccc;
$gray70: #aaa;
$gray80: #999;
$gray90: #666;
$red50: #ea6e67;
$red60: #e7574f;
$blue50: #337ab7;
$cyan10: #f0f6f8;
$cyan40: #a4dae6;
$cyan50: #84cad9;
$cyan60: #02b3c8;
$cyan70: #0fa3b3;
$blue-gray20: #e7eeef;
$blue-gray30: #d2d6db;
$blue-gray40: #b5bbc4;
$blue-gray50: #9ca4b0;
$blue-gray-60: #7c838f;

// SNS
$facebook: #3b5998;
$twitter: #1da1f2;
$hatena: #00a4de;
$pocket: #ef4056;
$newspicks: #222;
$wantedly: #00aed1;

// Graduation
$grad-black: linear-gradient(225deg, #2a2a2a 0%, #333 62%, #161616 100%);
$grad-deep-green: linear-gradient(225deg, #3ba395 0%, #21789a 100%);
$grad-orange-pink: linear-gradient(
  225deg,
  #d754ad 0%,
  #f96785 59%,
  #fe7333 100%
);
$grad-silver: linear-gradient(225deg, #e6e9ed 0%, #eef1f6 50%, #d1d8dc 100%);

// text
$text: $black30;
$text-invert: $white00;
$text-strong: $black10;
$text-light: $gray80;
$link: $blue50;
$link-invert: $white00;

// border
$border: $gray50;
$border-light: $gray40;
$border-strong: $black10;
$border-invert: $white00;

// background
$background-gray: $gray40;
