$black10: #161616;
$black20: #2a2a2a;
$black30: #333;
$gray20: #fafbfa;
$gray30: #f8f9f8;
$gray40: #f1f2f1;
$gray50: #e0e1df;
$gray60: #ccc;
$gray70: #aaa;
$gray80: #999;
$gray90: #666;
$blue-gray50: #9ca4b0;
$blue-gray-60: #798392;
$white00: #fff;
$primary50: #f75856;
$primary60: #e94846;
$secondary50: #0070c9;
$secondary40: #42a1ec;
$twittercolor: #1da1f2;
$facebookcolor: #3b5998;
