.pl-divider {
  border: none;
  border-top: 1px solid $border;
  height: 1px;
  color: $white00;
  background-color: $white00;
  margin-top: 0;
  margin-bottom: 0;

  &.is-dashed {
    border: none;
    border-top: 1px dashed $border;

    &.is-invert {
      border-top-color: $border-invert;
    }
  }

  &.is-invert {
    border-top-color: $border-invert;
  }
}
