.pl-tab-group {
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

.pl-tab {
  color: $black30;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.4rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-bottom: 3px solid $white00 !important;
  box-shadow: none !important;
  line-height: 1.8;
  display: flex;
  align-items: center;

  &:hover,
  &:active {
    color: $text-strong;
    text-decoration: none;
  }

  &:focus {
    color: $text-strong;
    text-decoration: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &.is-active {
    font-weight: 900;
    color: $text-strong !important;
    border-bottom: 3px solid $text-strong !important;
  }
}

.pl-tab.is-active .pl-tab-count {
  font-weight: normal;
}

.pl-tab-count {
  margin-left: 8px;
  margin-right: -4px;
  font-size: 15px;
  color: $gray80;
}
