.pl-tooltip {
  position: relative;

  // tooltip box
  & .box {
    position: absolute;
    z-index: 100;
    display: none;
    opacity: 0;
    width: max-content;
    max-width: 200px;
    padding: 4px 8px;
    color: $white00;
    pointer-events: none;
    background: rgba($black10, 0.85);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: $radius;
    font-size: 11px;
    line-height: 1.25;

    &.top {
      right: 50%;
      bottom: 100%;
      margin-bottom: 8px;
      transform: translateX(50%);
    }

    &.bottom {
      right: 50%;
      top: 100%;
      margin-top: 12px;
      transform: translateX(50%);
    }

    &.left {
      right: 100%;
      bottom: 50%;
      margin-right: 8px;
      transform: translateY(50%);
    }

    &.right {
      left: 100%;
      bottom: 50%;
      margin-left: 8px;
      transform: translateY(50%);
    }
  }

  &:hover,
  &:active,
  &:focus {
    & .box {
      display: inline-block;
      animation-name: tooltip-animation;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      animation-delay: 0.1s;
    }
  }
}

@keyframes tooltip-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
