.pl-company-logo-frame {
  border: 1px solid $gray40;
  padding: 2px;
  border-radius: 2px;
  background-color: $white00;
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-extra-small {
    width: 32px;
    height: 32px;
  }

  &.is-small {
    width: 48px;
    height: 48px;
  }

  &.is-normal {
    width: 64px;
    height: 64px;
  }
  // default size
  width: 64px;
  height: 64px;

  &.is-large {
    width: 96px;
    height: 96px;
  }

  &.is-extra-large {
    width: 160px;
    height: 160px;
    padding: 5px;
  }
}

.pl-company-logo-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}
